<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Index</title>
</head>
<body>
    <div class="container-fluid" style="background-color:#e8f5d1">
      <nav class="navbar">
      <div class = "col-4">
      </div>
      <div class = "col">
        <h2>Result Management System</h2>
      </div>
    </div>
    <div class="container mt-5" align="center"><h3>Login As</h3></div>
    </br>
    </br>
    <div class="container mt-5" align="center">
        <a class="btn btn-primary btn-lg" href="/auth/login/?src=student" role="button">Student</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/auth/login?src=teacher" role="button">Teacher</a>
    </div>
</body>