<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Result</title>
</head>
<body>
    <div class = "container">
        <h1 class="mb-4">Results</h1>
        <a href="/student" class="btn btn-success">Find Result</a>
        <div class = "card mt-4">
            <div class = "card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Rollno</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date Of Birth</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%=result.rollno%></td>
                            <td><%=result.name%></td>
                            <td><%=result.dob.toLocaleDateString()%></td>
                            <td><%=result.score%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>